*{
    padding: 0px;
    margin: 0px;
}

h1{
 color: red;   
}

body{
    background-color:#F2F2F3;
    overflow-x: hidden;
    z-index: 0;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

button{
    border: none;
    cursor: pointer;

}
.hide{
    display: none;
}

button{
    border: none;
}


/* header */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFAB08;
}

.header-section {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #FFAB08;
border-radius: 0 0  50rem 50rem;

}

.header-section img {
 width: 326px;
 height: 326px;
 margin: 24px;
   }


.header-section span{
 color: white;
}

.header-title{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 194px;
    width: 437px;
}

/* header end */


/* nav */

.nav{
    margin-top:40px ;
    margin-left: 75px;
}

ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

li{
    list-style: none;
    margin: 5px;
}


.btn-nav{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 8px 7px 8px;
    width: 97px;
    border:white 1px solid;
    background-color: white;
    border-radius: 50px;
}

.btn-nav:hover{
    background-color: #FFAB08;

}

/* nav end */

/* main  */
main{
    margin-top:50px ;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 260px;
    min-height:109px ;
    background-color: white;
    padding: 24px 16px 24px 16px;
    border-radius: 18px;
    margin-top: 70px ;
    margin-left: 40px;

}



.main-cart ul{
    display: flex;
    flex-direction: column;
}


.cart-btn{
 padding: 2px 16px 2px 16px;
 font-size: 24px;
 font-weight: 900;
 background-color: white;

}


.cart-header{
    display: flex;
    justify-content: space-around;
}
.cart-header span{
    background-color: #F2F2F3;
    padding: 10px 16px 2px 16px;
    border-radius:6px ;
}

.main-cart{
    margin-top: 16px;
}

.main-cart li{
    border-top: solid 1px #F2F2F3 ;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 84px;

}
.main-cart li span {
    font-size: 12px;
}
.img-cart{
    width:64px ;
    height: 52px;
}
.item-descr{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.item-descr span{
  margin-top: 5px;
}

.item-section{
    background-color: #F2F2F3;
    padding: 9px 12px 9px 12px;
    border-radius: 16px;
     min-width: 84px;
     min-height: 30px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-top: 5px;
     margin-left: 24px;
}

.item-section button{
   border: none;
   background-color: #F2F2F3;
}


.cart-footer--head{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.count-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px 0px 19px 0px;
    font-size: 16px;
    font-weight: bolder;
}

.btn-checkout{
    padding: 12px 72px 12px 72px;
   border-radius: 16px;
   background-color: #FF7020;
   color: white;
}

.btn-checkout:hover{
   cursor: pointer;
   background-color: #FFAB08;
}


.cart-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
}
.btn-hide{
    background-color: white;
    color: #B1B1B1;
}

                        
.tab-content{
    display: none;
}

.tab-content.active{
    display: flex;
    flex-direction: column;
    min-width: 300px;

}



.list-products{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-width: 320px;
    
}

.card{
    background-color: white;
    padding: 12px 12px 12px 12px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    margin: 30px;


}


.footer-card{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 276px;
}
.card img{
    width: 300px;
    height: 220px;
    margin-bottom: 16px;
}

.price{
    margin-bottom: 8px;

}
.weight{
    color: #B1B1B1;
}
.btn-add{
    margin-top: 8px;
  padding: 12px  101px 12px 101px;
  border-radius:12px ;
  width: 300px;
}




.btn-add:hover{
    background-color: #FFAB08;

}




/* main end */

/* footer  */

.default-footer{
    display: flex;
    justify-content: space-around;
   margin-top: 100px;
   background-color: white;
   padding:52px 39px 39px 39px ;

}

.autor-m{
   display: none;
}
.tablet-footer{
    display: flex;
    justify-content: space-around;
}
.main-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.main-footer img{ 
    align-self: flex-start;
    margin-bottom: 59px;
}
.links-footer{
    margin-top: 24px;
}
.group-links{
    margin-top: 24px;
    padding-left: 16px;

}

.group-links a{
    margin: 16px;
   }
.tablet-footer{
    display: none;
}

/* footer end  */



@media screen and (max-width:1023px) {
    .header-section{
     justify-content: flex-end;
    }
   .header-section img{
             width: 227px;
             height: 229px;
          }
          .nav{
             margin-top: 30px;
             margin-left: 65px;
          }
          ul{
             justify-content: space-between;
             flex-wrap: nowrap;
             overflow: scroll;
          }
          .btn-nav{
             margin: 12px;
          }
 
 
          main{
             display: flex;
             flex-direction: column;
          }
          aside{
             z-index: 1;
             position: absolute;
             margin-top: -45rem;
          }
 
 
          .tab-content{
             min-width: 300px;
             margin-top: 10rem;
          }
          .tab-content h2{
           margin-left: 30px;
           margin-bottom: 16px;
         }
         .list-products{
             min-width: 300px;
         }
         .card{
             width: 145px;
             height: 270px;
             padding: 4px 4px 4px 10px;
             margin:20px;
         }
 
         .card img{
             width: 137px;
             height: 120px;
            }

            .footer-card{
           display: flex;
           flex-direction: column;
           margin-top: 30px;
           width: 86px;
}


            .btn-add{
             width: 137px;
             height:30px;
             padding:9px 41px 9px 41px  ;
            }
        
            .default-footer{
                display: none;
            }
            .tablet-footer{
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding-top:40px ;
                padding-left: 64px;
            }
            .main-tablet-footer{
                display: flex;
                flex-direction: column;
                padding-bottom: 24px;
                
            }
            .main-tablet-footer div{
              margin-top: 36px;
            }
            .group-links-tablet  {
                margin: 10px;
               }

        
          
         }

@media screen and (max-width:767px) {
    header{
        display: flex;
        justify-content: center;
        
        
    }
    .header-section{
        display: flex;
        flex-direction: column-reverse;
       justify-content: center;
       padding: 20px;

    }

    .header-section img{
       width: 176px;
       height: 203px;
       
    }


    .header-title{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
    }




    main{
        margin: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    aside{
        /* height: 48px; */
        margin-bottom: 30px;
        margin-left: 0px;
        /* width: 250px; */
        margin-left: 0px;
        margin-top: -0rem;
 
    }
    .tab-content{
        display: flex;
        flex-direction: column;
    }
  
    
    
   .card{
    width: 142px;
    height: 270px;
    padding: 4px 4px 4px 10px;
    margin:5px;
   }

   .list-products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

   .card img{
    width: 137px;
    height: 120px;
   }
   .btn-add{
    width: 137px;
    height:30px;
    padding:9px 41px 9px 41px  ;
   }

   .footer-card{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 86px;
}

.default-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 10px 26px  10px;  
    overflow: hidden;
}
.autor{
    display: none;
}

.footer-links{
    margin-top: 24px;
}
.autor-m{
    display: flex;
    margin-top: 34px;
}
.tablet-footer{
    display: none;
}

}

